@import "reset";
@import "bower_components/sass-flex-mixin/flex";
@import "bower_components/normalize-css/normalize";
@import 'bower_components/bourbon/dist/bourbon';
@import "utils";
@import "config";
@import "sections/dashboard";
@import "components/video-card";

*{
  box-sizing: border-box;
}
html, body{
  @include square;
  overflow: hidden;
}
.application-header{
  @include fixed-top-left;
  width: 100%;
  height: $menu-height;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
  background: white;
  z-index: 1;

  .toggle-menu{
    background-color: $blue-electric;
    cursor: pointer;
    height: $menu-height;
    width: $menu-width;
    text-align: center;

    i{
      color: white;
      font-size: 25px;
      margin-top: 20px;
    }
  }
}
.application-menu{
  width: $menu-width;
  height: 100%;
  background-color: #4d5b69;
  position: fixed;

  li{
    height: $menu-width;
    border-top: 1px solid #536372;
    color: #f2f4f6;
    text-align: center;
    cursor: pointer;

    &.active{
      background-color: #44515d;

      //Arrow
      &:before{
        @include absolute-top-right(20px);
        content: " ";
        border-color: transparent #F1F3FA transparent transparent;
        border-style: solid;
        border-top: 8px double transparent;
        border-bottom: 8px double transparent;
        border-left: 0;
        border-right: 7px solid $current-section-color;
      }
      i{
        color: #15c1df;
      }
    }
    i{
      font-size: 24px;
      color: $menu-icon-color;
      line-height: 50px;
    }
  }
}
.application-content{
  height: 100%;
  overflow: auto;
}
.application-body{
  @include flexbox;
  margin-top: $menu-height;
}
.current-section{
  @include flex(1);
  padding: 10px;
  text-align: center;
  margin-left: $menu-width;
  background-color: $current-section-color;
}
.current-video{
  $video-size: 500px;
  @include transition(all 0.5s);
  padding: 10px;
  width: $video-size;
  max-width: calc(100% - 280px);
  margin-right: -$video-size;
  background-color: white;
  opacity: 0;
  text-align: center;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);

  &.visible{
    opacity: 1;
    margin-right: 0;
  }
  .author-text{
    border-top: 1px solid #eee;
    padding: 5px;
    font-size: 14px;
    margin-top: -3px;

    .author-name{
      text-decoration: none;
      color: $blue-electric;
      font-weight: bold;
      
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .related-videos{
    height: 120px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #b6bcc2;

    &::-webkit-scrollbar{
      display: none;
    }
    li{
      display: inline-block;
      position: relative;

      &.is-current-video{
        background-color: $blue-electric;

        &:before{
          @include absolute-top-left(-6px, 51px);
          content: " ";
          border-color: transparent #F1F3FA transparent transparent;
          border-style: solid;
          border: 8px double transparent;
          border-bottom: 8px solid white;
        }
      }
    }
  }
  .current-video-content{
    position: fixed;
    right: 0;
    width: 500px;
    top: $menu-height;
    max-width: calc(100% - 325px);
    height: calc(100% - 70px);
    overflow: hidden;
  }
  .close-preview{
    @include absolute-top-right(10px, 10px);
    cursor: pointer;
    z-index: 1;
  }
  .current-video-element{
    display: inline-block;
    height: calc(100% - 182px);
  }
  .video-name{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
}