@import "reset";
@import "bower_components/sass-flex-mixin/flex";
@import "bower_components/normalize-css/normalize";
@import 'bower_components/bourbon/dist/bourbon';
@import "utils";
@import "config";
@import "sections/dashboard";
@import "components/video-card";

*{
  box-sizing: border-box;
}
html, body{
  @include square;
  overflow: hidden;
}
.application-header{
  @include fixed-top-left;
  width: 100%;
  height: $menu-height;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
  background: white;
  z-index: 1;

  .toggle-menu{
    background-color: #14b9d6;
    cursor: pointer;
    height: $menu-height;
    width: $menu-width;
  }
}
.application-menu{
  width: $menu-width;
  height: 100%;
  background-color: #4d5b69;
  position: fixed;

  li{
    height: $menu-width;
    border-top: 1px solid #536372;
    color: #f2f4f6;
  }
}
.application-content{
  height: 100%;
  overflow: auto;
}
.application-body{
  margin-top: $menu-height;
  height: 100%;
}
.current-section{
  padding: 10px;
  text-align: center;
  margin-left: $menu-width;
  background-color: #f1f3fa;
}
.current-video{
  @include absolute-bottom-left(-100%, $menu-width);
  width: calc(100% - 54px);
  background-color: white;
  opacity: 0;
  text-align: center;
  height: calc(100% - 300px);
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);

  &.visible{
    opacity: 1;
    bottom: 0;
  }
  .video-name{
    @include absolute-top-left;
    width: 100%;
    background-color: rgba(white, 0.6);
    text-align: center;
  }
  .close-preview{
    @include absolute-top-right(10px, 10px);
    cursor: pointer;
    z-index: 1;
  }
  video{
    display: inline-block;
    height: 100%;
  }
}