@mixin square($side: 100%) {
  height: $side;
  width: $side;
}
@mixin absolute-top-left ($top:0, $left:0){
  position : absolute;
  top      : $top;
  left     : $left;
  right    : auto;
  bottom   : auto;
}
@mixin absolute-bottom-left ($bottom:0, $left:0){
  position : absolute;
  top      : auto;
  right    : auto;
  left     : $left;
  bottom   : $bottom;
}
@mixin absolute-top-right ($top:0, $right:0){
  position : absolute;
  top      : $top;
  right    : $right;
  left     : auto;
  bottom   : auto;
}
@mixin fixed-top-left($top:0, $left:0) {
  position : fixed;
  top      : $top;
  left     : $left;
  right    : auto;
  bottom   : auto;
}