.video-card{
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  position: relative;

  &:hover{
    .name{
      opacity: 1;
      top: 0;
    }
    .cover{
      display: none;
    }
  }
  &.small{
    @include square(100px);
  }
  &.medium{
    @include square(200px);
  }
  .name{
    @include absolute-top-left(-10px);
    @include transition(all 0.5s);
    height: 20px;
    opacity: 0;
    padding: 3px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background: rgba(white, 0.6);
    overflow: hidden;
  }
  .cover{
    width: inherit;
    border-radius: 3px;
  }
  video{
    width: inherit;
  }
}